$lightCloud: #ded6d6;
$rain: hsl(205, 83%, 48%);

.city-component{
    height: auto;
    width: 18EM;
    display: inline-block;
    border: 2px solid black;
    border-radius: 45px;
    background-color: #c1edf4;
    padding: 10px;
    margin: 1em;
    position: relative;
    
}

.city{
    display: block;
    padding: 5px 10px 0px;
    font-size: 2.5EM;
    margin-top: 5px;
}

.temperature{
    display: block;
    padding: 10px;
    font-size: 5em;
    margin-top: 30px;
}

.weather{
    padding: 10px;
    position: absolute;
    right: 20px;
}

.country{
    display: block;
    text-transform: uppercase;
    float: right;
    position: relative;
    left: -12px;
}

.weather-icon{
    position: absolute;
    width: 40px;
    height: 40px;
    right: 25px;
    top: 15px;
    animation: weather-icon-move 5s ease-in-out infinite;
}

.sun { 
    background: yellow; 
	border-radius: 50%; 
	box-shadow: rgba(255,255,0,0.1) 0 0 0 4px;
}

.cloud {
    margin-right: 25px;
    background: $lightCloud;
    border-radius: 20px;
    width: 25px;
    height: 25px;
    margin-top: 10px;
    box-shadow: $lightCloud 24px -6px 0 2px, $lightCloud 10px 5px 0 5px, $lightCloud 30px 5px 0 2px, $lightCloud 11px -8px 0 -3px, $lightCloud 25px 11px 0 -1px;
}

.rain {
    @extend .cloud;
    &:after {
        content: "";
        position: absolute;
        border-radius: 10px;
        background-color: transparent;
        width: 4px;
        height: 11px;
        left: 0;
        top: 24px;
    
        transform: rotate(30deg);
        animation: rain 800ms ease-in-out infinite alternate;
    }
}

.snow {

}

@keyframes weather-icon-move {
	50% { 
        transform: translateY(-8px); 
    }
}

@keyframes rain {
    from {
        box-shadow: 
        $rain 8px 0px,
		$rain 32px -6px, 
		$rain 20px 0px;
    }
    to {
        box-shadow: 
        $rain 8px 6px,
		$rain 32px 0px, 
		$rain 20px 6px;
    }
}