.city-component{
    height: 300px;
    width: 300px;
    display: inline-block;

}

.city{
    display: block;
    padding: 10px;
}

.temperature{
    display: block;
    padding: 10px;
}

.weather{
    display: block;
    padding: 10px;
}