<div class="weather-component">
  <div class="city-component" *ngFor="let cityWeather of weather">
    <!-- <span class="weather">{{cityWeather.weather}}</span> -->
    
    <div class="weather-icon" 
      [class.sun]="cityWeather.weather === 'Clear'"
      [class.cloud]="cityWeather.weather === 'Clouds'"
      [class.rain]="cityWeather.weather === 'Rain'"
    >
  </div>
    <span class="temperature">{{cityWeather.temperature}}°c</span>
    <span class="city">{{cityWeather.city}}</span>
    <span class="country">{{cityWeather.country}}</span>
  </div>
</div>
